body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background-color: #3dbb79;
  color: white;
  padding: 20px;
  text-align: center;
}
main {
  padding: 20px;
}
h2 {
  color: #1f7a54;
}
ul {
  list-style-type: square;
  margin-left: 20px;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #3dbb79;
  color: white;
  margin-top: 20px;
}
